<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.chinaSoft.pandaMall.sellerCenter">

	<select id="getGoodsListBySellerId" resultType="Good">
		SELECT g.*,GROUP_CONCAT(p.`name`) AS imgNames FROM pm_good g 
			LEFT JOIN pm_good_pic p ON g.id=p.goodId 
			WHERE userId=#{userId} GROUP BY p.goodId;
	</select>
	
</mapper>