<!-- 卖家中心.主页面 -->
<div id="sellerMain"  ng-controller="sellerMainCtrl">
	<div class="clearfix">
		<span class="pull-left">我的商品</span>
		<button class="btn btn-default pull-right" type="submit"
			ui-sref="sellerEditGood({id:null})">
			添加新商品
		</button>
	</div>
	<div class="bs-example" data-example-id="sellerMain-table">
	    <table class="table table-hover">
	      <thead>
	        <tr>
	          <th>序号</th>
	          <th>ID</th>
	          <th>商品名</th>
	          <th>图片</th>
	          <th>价格</th>
	          <th>产地</th>
	          <th>总销量</th>
	          <th>总销售额</th>
	          <th>上架日期</th>
	          <th>简介</th>
	          <th>操作</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="item in items">
	          <th scope="row" ng-bind="$index"></th>
	          <td ng-bind="item.id"></td>
	          <td ng-bind="item.name"></td>
	          <td>
	          	<img ng-src="{{item.url}}" style="width: 50px;height: 50px">
	          </td>
	          <td>
	          	{{item.price}}{{item.currency}}
	          </td>
	          <td ng-bind="item.productionPlace"></td>
	          <td ng-bind="item.salesCount"></td>
	          <td>
	          	{{item.salesAmount}}{{item.currency}}
	          </td>
	          <td ng-bind="item.crtDate|date:'yyyy-MM-dd'"></td>
	          <td ng-bind="item.introduce"></td>
	          <td>
	          	<button type="button" class="btn btn-link"
	          		ui-sref="sellerEditGood({id:item.id})">
	          		编辑
	          	</button>
	          	<button type="button" class="btn btn-link" ng-click="unShelveGood(item)">
	          		下架
	          	</button>
	          </td>
	        </tr>
	        </tr>
	      </tbody>
	    </table>
	</div>
</div>